# dependencies
node_modules/

# Next.js
.next/
out/

# environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
